.plume-content h3 {
  margin-bottom: 14px !important;
}

.plume-content h4 {
  margin-bottom: 12px !important;
}

.plume-content h5 {
  margin-bottom: 10px !important;
}

.plume-content h6 {
  margin-bottom: 8px !important;
}
